<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-clearmin.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/roboto.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/material-design.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/small-n-flat.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
        <title>Clearmin template</title>
    </head>
    <body class="cm-no-transition cm-1-navbar">
        <!-- 菜单 -->
        <div th:replace="common/menu :: menu"></div>
        <header th:replace="common/header :: header"></header>
        <div id="global">
            <div class="container-fluid cm-container-white">
                <h2 style="margin-top:0;">xxx应用管理</h2>
            </div>
            <div class="container-fluid">
                <div class="row cm-fix-height">
                    <th:block shiro:hasAnyRoles="SUPER_ADMIN,ADMIN,SBGLY">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/device/overview">
                                        <img th:src="@{/img/iot-device.png}" alt="Components" class="img-responsive">
                                        <br/>
                                        <p class="text-center">设备管理</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <footer th:replace="common/footer :: footer"></footer>
        </div>
        <script th:src="@{/js/lib/jquery-2.1.3.min.js}"></script>
        <script th:src="@{/js/jquery.mousewheel.min.js}"></script>
        <script th:src="@{/js/jquery.cookie.min.js}"></script>
        <script th:src="@{/js/fastclick.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/clearmin.min.js}"></script>
        <script th:src="@{/js/demo/home.js}"></script>
    </body>
</html>